
#btn{
  font-size: 16px;
  color:white;
 background: none;
 box-shadow: none;
 border-radius: 0px;
 outline: none;
 border: 0;
 position:relative;
 height:20px;
	width:80px;
}
#calc{
  background: #1C1C1C;
  width:230px;
  height:340px;
  position: center;
}
#layar{
  background: #D4D4D2;
}
#kanan{
  background: #FF9500;
}
table{
  color: white;
}
#item
{
  font-size: 16px;
color:white;
background: none;
box-shadow: none;
border-radius: 0px;
outline: none;
border: 0;
position:relative;
height:20px;
width:80px;
}
